

.search-bar {
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 68px;
  
}

.search-bar-input {
  width: 90%;
  background-color: black;
  border-radius: .375rem;
  height: 2.25rem;
}





/*Navbar===================================================================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: black;
  color: #fff;
  padding: 10px 20px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ccc;
}



  /*Navbar====================================================================================================*/

  /*Content==================================================================================================*/

  .filter-card {
    background-color: black;
    color: #fff;
    padding: 20px;
    border: 1px solid rgb(75, 67, 67);
    border-radius: 5px;
    margin: 30px 0px;
    
  }

  .filter-section {
    margin-bottom: 20px;
  }
  
  .order-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }

  .percentage-filter {
    margin-top: 20px;
  }
  
  .percentage-filter label {
    display: block;
    margin-bottom: 5px;
  }


  .grade-filter {
    display: flex;
    flex-direction: column;
  }
  .grade-filter,
.sports-filter {
  margin-top: 20px;
}

.grade-filter h3,
.sports-filter h3 {
  margin-bottom: 10px;
}

.grade-filter div,
.sports-filter div {
  margin-bottom: 5px;
}

.clear-filters {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 20px;
}

.two-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}





.grade-filter {
  margin-left: auto;
  display: flex;
  
}



.student-list-card {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-column: 2 / 5;
  
}


.student-count {
  margin-bottom: 20px;
  font-weight: bold;
}

 .student-card { 
 
   display: flex;
   align-items: center;
   margin-bottom: 10px; 
  padding: 10px;
  /*background-color: #222;*/
  border-radius: 5px;  
 } 


.avatar {
  margin-right: 10px;
}

.avatar img {
  height: 40px;
  width: 40px;
  border-radius: 999px;
}

.student-info h3 {
  margin: 0;
  font-size: 16px;
  text-align: left;
  
}

.student-info {
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.student-info-container  {

  width: 100%;
  margin: 0 auto;
  display: flex;
  
  gap: 12px;
  border: 1px solid rgb(75, 67, 67);
  border-radius: 50px;
  
}

.student-grade-container {
 text-align: right;
  
}

.student-grade {

  
  
}

.student-percentage p {

  text-align: right;

}

.student-sports  {
  font-size: 14px;
  color: #a1a1aa;
}


.career-choices {
  font-size: 14px;
  color: #a1a1aa;
}

.student-count {
  text-align: right;
}




  